<form method="POST" class="mt-5" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle">Название</label>
        <input type="text" value="<%= book.title %>" name="title" class="form-control" id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputAuthors">Авторы</label>
        <input type="text" value="<%= book.authors %>" name="authors" class="form-control" id="inputAuthors">
    </div>

    <div class="form-group">
        <label for="inputDesc">Описание</label>
        <textarea rows="3" name="description" class="form-control" id="inputDesc"><%= book.description %></textarea>
    </div>

    <div class="form-group">
        <label for="inputFavorite">Фаворит</label>
        <input type="text" value="<%= book.favorite %>" name="favorite" class="form-control" id="inputFavorite">
    </div>

    <div class="form-group">
        <label for="inputFileCover">Обложка</label>
        <input type="file" name="fileCover" accept="image/png, image/jpg,image/jpeg" class="form-control-file"
            id="inputFileCover">
    </div>

    <div class="form-group">
        <label for="inputFileBook">Книга</label>
        <input type="file" name="fileBook" class="form-control-file" id="inputFileBook">
    </div>

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>